SYRACUSE, N.Y. (WSYR-TV) — The pandemic has turned education upside down so much so that Tuesday night The College Board canceled its plans to provide an at-home version of the SAT.
The company said at this time it could not guarantee all students would have access to the needed technology but does hope to make it possible in the future.
The decision has left many students who had their in-person tests canceled because of the COVID-19 pandemic without a way to secure the once necessary requirement.
A growing trend at colleges and universities however is allowing students without an SAT/ACT score to still apply. It’s called going test-optional.
“Test-optional just gives students a choice to take these standardized tests or not,” Bob Schaeffer said.
Schaeffer is the Interim Executive Director of the National Center for Open Testing or ‘Fair Test’ which has been advocating for measures like this since 1985.
At that time very few colleges and universities allowed students who had not taken the SAT/ACT to apply but over the years hundreds of institutions have veered from those policies.
For the Fall 2021 semester, more than 1,200 schools have signed on with ‘Fair Test’ and have pledged to continue deemphasizing standardized test scores or begin doing so.
“About half of all 4-year colleges and universities will be test-optional for Fall 2021 admissions,” said Schaeffer.
