late Monday said it will raise margin requirements for some energy futures contracts on the New York Mercantile Exchange, including the benchmark crude futures contract. Margins are money investors must put up to be able to trade and hold futures contracts. Initial margins for January contracts will increase to $4,100 from $3,650 per contract, effective at the close of business on Tuesday, the CME said. January West Texas Intermediate crude clf9 settled at $51.63 a barrel, up 2.4%.
Office Depot Inc.  said Friday its board has approved a 1-for-10 reverse stock split effective June 30. The Boca Raton, Florida-based office goods retailer said shareholders approved the move at its May 11 annual meeting. The company will not issue any fractional shares in connection with the move, but shareholders who would have been entitled to them will receive a cash payment in lieu. Shares closed Thursday at $2.38, and have fallen 13.3% in the year to date, while the S&P 500  has fallen 4.6%.
