Jio, Airtel, Voda Idea badly need to raise tariffs to survive; here's how much more you should pay
The domestic sugar mills have contracted close to 4.2 million tonne for exports during 7M SY2020 (until April 2020). Icra expects the exports to be around 5 million tonne given the demand from Indonesia and Iran. “However, with most countries under lockdown globally, the demand has declined resulting in a fall of the global sugar prices. The mills exporting sugar are likely to gain on rupee depreciation to an extent,” said Sabyasachi Majumdar, senior vice-president & group head, Icra Rating.
“We expect the working capital requirements of sugar mills to increase given the demand squeeze in April-May 2020, owing to the lockdown and also the increase in the sugar production in Uttar Pradesh (UP). The state is set to record highest ever sugar production in SY2020 of around 12.5 million tonne, 6% higher on y-o-Y basis.
This is majorly due to the cane which was generally used by the local gur and khandsari manufacturers got diverted to sugar mills with the former’s operations prematurely shut due to the lockdown. These factors resulted in the moderation of liquidity for the sugar mills, thus increasing the cane dues to farmers,” he pointed out.
Get live Stock Prices from BSE , NSE , US Market and latest NAV, portfolio of Mutual Funds , calculate your tax by Income Tax Calculator , know market’s Top Gainers , Top Losers & Best Equity Funds . Like us on Facebook and follow us on Twitter .
Financial Express is now on Telegram. Click here to join our channel and stay updated with the latest Biz news and updates.
